/test_modules/NodeLauncher/dist/
/test_modules/OutputUi/dist/
/test_modules/OutputUi/build/
/test_modules/Configure/build/
/test_modules/Configure/dist/
/test_modules/ThreadTests/dist/
/test_modules/ThreadTests/build/
/UnixConsoleText/cct_cpp/build/
/UnixConsoleText/cct_cpp/dist/
/CustomizableConsoleText/cct_cpp/build/
/CustomizableConsoleText/cct_cpp/dist/
/CustomizableConsoleText/uct_java/build/
/CustomizableConsoleText/uct_java/dist/
/CustomizableConsoleText/uct_java/nbproject/private/
/CustomizableConsoleText/cct_java/nbproject/private/
/CustomizableConsoleText/cct_java/build/
/CustomizableConsoleText/cct_java/dist/
/uterm/dist/
/uterm/build/
/test_modules/configure/dist/
/test_modules/configure/build/
/modules/ide/new_project/dist/
/modules/ide/new_project/build/
/modules/ide/new_file/build/
/modules/ide/new_file/dist/
/modules/ide/file_tree/dist/
/modules/ide/file_tree/build/
/modules/configure/build/
/modules/configure/dist/
/modules/ide/project_apollo/build/
/modules/ide/project_apollo/dist/
/modules/ide/launcher/dist/
/modules/ide/launcher/build/
/modules/new_file/build/
/modules/new_file/dist/
/modules/text_editor/dist/
/modules/text_editor/build/
/modules/system_tests/build/
/modules/system_tests/dist/
/modules/search_ui/build/
/modules/search_ui/dist/
/modules/navigator_ui/build/
/modules/navigator_ui/dist/
/modules/migration/build/
/modules/migration/dist/
/modules/pkg_installer/dist/
/modules/pkg_installer/build/
/modules/help/dist/
/modules/help/build/
/modules/output_ui/build/
/modules/output_ui/dist/
/modules/html_style/dist/
/modules/html_style/build/
/modules/stream_tests/build/
/modules/stream_tests/dist/
/modules/stream_to_html/dist/
/modules/stream_to_html/build/
/modules/custom_widgets/dist/
/modules/custom_widgets/build/
/modules/xml_parser/dist/
/modules/xml_parser/build/
/modules/universal/dist/
/modules/universal/build/
/modules/datstream_html_adapter/dist/
/modules/datstream_html_adapter/build/
/modules/datastream_html_adapter/dist/
/modules/datastream_html_adapter/build/
/modules/Sandbox/build/
/modules/Sandbox/dist/
/modules/sandbox/build/
/modules/sandbox/dist/
/modules/new_workspace/dist/
/modules/new_workspace/build/
/modules/options/build/
/modules/options/dist/
/modules/setup/build/
/modules/setup/dist/
/modules/new_project/dist/
/modules/new_project/build/
/modules/file_tree/dist/
/modules/file_tree/build/
/modules/customizable_console_text/cct_cpp/build/
/modules/customizable_console_text/cct_cpp/dist/
/modules/customizable_console_text/cctTester/build/
/modules/shared_operations/dist/
/modules/shared_operations/build/