/test_modules/NodeLauncher/dist/
/test_modules/OutputUi/dist/
/test_modules/OutputUi/build/
/test_modules/Configure/build/
/test_modules/Configure/dist/
/test_modules/ThreadTests/dist/
/test_modules/ThreadTests/build/
/UnixConsoleText/cct_cpp/build/
/UnixConsoleText/cct_cpp/dist/
/CustomizableConsoleText/cct_cpp/build/
/CustomizableConsoleText/cct_cpp/dist/
/CustomizableConsoleText/uct_java/build/
/CustomizableConsoleText/uct_java/dist/
/CustomizableConsoleText/uct_java/nbproject/private/
/CustomizableConsoleText/cct_java/nbproject/private/
/CustomizableConsoleText/cct_java/build/
/CustomizableConsoleText/cct_java/dist/
/uterm/dist/
/uterm/build/
/test_modules/configure/dist/
/test_modules/configure/build/
/modules/ide/new_project/dist/
/modules/ide/new_project/build/
/modules/ide/new_file/build/
/modules/ide/new_file/dist/
/modules/ide/file_tree/dist/
/modules/ide/file_tree/build/
/modules/configure/build/
/modules/configure/dist/
/modules/ide/project_apollo/build/
/modules/ide/project_apollo/dist/
/modules/ide/launcher/dist/
/modules/ide/launcher/build/
/modules/new_file/build/
/modules/new_file/dist/
/modules/text_editor/dist/
/modules/text_editor/build/
/modules/system_tests/build/
/modules/system_tests/dist/