/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
 * File:   Dark.css
 * Author: James Kuczynski
 * Email: jkuczyns@cs.uml.edu
 * File Description: 
 *
 * Created on : May 6, 2015, 12:35:25 AM
*/

QWidget
{
    background-color: darkgrey;
    color: lightgray;
}


QDockWidget
{
    background-color: darkgray;
    color: lightgray;
}


QMainWindow
{
    background-color: darkgray;
    color: lightgray;
}



QFrame
{
    background-color: darkgray;
    color: lightgray;
}


QLabel
{
    background-color: darkgray;
    color: lightgray;
}


QToolTip
{
    background-color: darkgray;
    color: lightgray;
}


QLineEdit
{
    background-color: darkgray;
    color: lightgray;
}


QButtonGroup
{
    background-color: darkgray;
    color: lightgray;
}


QCheckBox
{
    background-color: darkgrey;
    color: lightgray;
}


QComboBox
{
    background-color: darkgray;
    color: lightgrey;
}


QPushButton
{
    background-color: darkgray;
    color: lightgrey;
}


QRadioButton
{
    background-color: darkgray;
    color: lightgray;
}


QTreeView
{
    background-color: darkgray;
    color: lightgray;
}


QListView
{
    background-color: darkgray;
    color: lightgray;
}


QTableView
{
    background-color: darkgray;
    color: lightgray;
}


QHeaderView
{
    background-color: darkgray;
    color: lightgray;
}


QTreeWidget
{
    background-color: darkgray;
    color: lightgray;
}


QSpinBox
{
    background-color: darkgray;
    color: lightgray;
}


QGroupBox
{
    background-color: darkgray;
    color: lightgray;
}


QMenu
{
    background-color: darkgray;
    color: lightgray;
}


QMenuBar
{
    background-color: darkgray;
    color: lightgray;
}


QProgressBar
{
    background-color: darkgray;
    color: lightgray;
}


QScrollBar
{
    background-color: darkgray;
    color: lightgray;
}


QSizeGrip
{
    background-color: darkgray;
    color: lightgray;
}


QSlider
{
    background-color: darkgray;
    color: lightgray;
}


QSplitter
{
    background-color: darkgray;
    color: lightgray;
}


QStatusBar
{
    background-color: darkgray;
    color: lightgray;
}


QTabWidget
{
    background-color: darkgray;
    color: lightgray;
}


QTabBar
{
    background-color: darkgray;
    color: lightgray;
}


QToolButton
{
    background-color: darkgray;
    color: lightgray;
}


QToolBar
{
    background-color: darkgray;
    color: lightgray;
}


QToolBox
{
    background-color: darkgray;
    color: lightgray;
}


QTextEdit
{
    background-color: black;
    color: black;
}


QListWidget
{
    background-color: black;
    color: black;
}

QSplitter
{
    background-color: black;
    color: black;
}