!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!
! File: .Xresources
! Author: James Kuczynski
! Email: jkuczyns@cs.uml.edu
! File Description: resources file for XTerm. To
!                   execute, run "xrdb ~/Xresources"
!
! Last Modified 05/09/2015
!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

XTerm*faceName:		Monospace:size=10

XTerm*background:	black
XTerm*foreground:	white
!XTerm*pointerColor:	red
	
