[Desktop Entry]
Version=1.0
Name=Ride
Comment=RIDE--an IDE for ROS.
Exec=/home/james/NetBeansProjects/ride/dist/Debug/GNU-Linux-x86/ride
Path=/home/james/NetBeansProjects/ride/dist/Debug/GNU-Linux-x86
Icon=/home/james/NetBeansProjects/ride/images/ride1.xpm
Terminal=false
Type=Application
Categories=Utility;Application;Development;


